[Desktop Entry]
Version=1.0
Name=DisamiQo
Exec=disamiqo
X-MultipleArgs=false
Type=Application
Icon=/opt/disamiqo/images/disamiqoicon.xpm
Terminal=false
Categories=Game;
StartupWMClass=Firefox
StartupNotify=true
